.app {
  text-align: center;
}

.container {
  /* margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
